# pip install --upgrade "jax[cuda12]==0.4.30" -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
# jaxlib should install in 0.4.30
moviepy==1.0.3
matplotlib
PyYAML
IPython
pandas
flax==0.8.3
seaborn


# Monitoring
snakeviz

# Config system
hydra-core

# Code quality
black
pytest

# Logging
wandb
tensorboardX
tensorboard

# Utils
matplotlib
tqdm

# Common libraries
numpy==1.26.4