name : Gridworld

# The dimensions of the gridworld
height : 40
width : 40

# Whether the env is terminal, i.e. the simulation stops when all agents are dead
is_terminal : False

# The period of the logging in number of timesteps
# period_logging : ${eval:'${n_timesteps} // 200'}
period_logging : 200



# ======================== Sun Parameters ========================
# The duration of 1 cycle of the sun (for methods using a period)
period_sun : 300

# The method to determine the sun's position, among :
# - "none" : there is no sun
# - "fixed" : the sun does not move at, all and is fixed in the middle latitude
# - "random" : the sun moves randomly
# - "brownian" : the sun moves in a brownian motion
# - "sine" : the sun moves in a sine wave between south and north
# - "linear" : the sun moves in a linear way and wraps around the gridworld when reaching the south
method_sun : "none"

# The radius of the effect of the sun, i.e. the distance at which the sun increase food's growth
radius_sun_effect : 10

# The radius of the perception of the sun by the agents
radius_sun_perception : 40



# ======================== Food Dynamics ========================

# The initial proportion of food tiles at the beginning of the simulation
proportion_plant_initial : 0.1

# The rule for a tile to be a food-tile is the following :
# P(food spawn) = sigmoid(
# + logit(p_base_grow_food) * 1_if_tile_is_not_food
# + factor_sun_grow_food * 1_if_sun_is_up
# + factor_food_grow_food * average_food_in_radius_food_grow_food
# - factor_food_kill_food * average_food_in_radius_food_kill_food
# - logit(p_base_die_food) * 1_if_tile_is_food

# The base probability of a non-food tile to grow spontaneously
p_base_plant_growth : 0.01
# The base probability of a food tile to die spontaneously
p_base_plant_death : 0.05

# The factor of the sun's effect on the growth of food
factor_sun_effect : 5

# The factor of the effect of the presence of food on the growth of food
factor_plant_reproduction : 1
# The radius of the effect of the presence of food on the growth of food
radius_plant_reproduction : 10

# The factor of the effect of the presence of food on the death of food
factor_plant_asphyxia : 10
# The radius of the effect of the presence of food on the death of food
radius_plant_asphyxia : 15



# ======================== Agent Parameters ========================

# A list indicating which type of observation use
list_observations:
  - visual_field
  - energy
  - age

# A list indicating which actions the agent has to choose from
list_actions:
  - direction
  - do_eat
  - do_reproduce

# The vision range of an agent. If of value v, the agent will receive the information v tiles around it, so a (2v+1)*(2v+1) grid
vision_range_agent : 5

# The dimension of the agent's appearance space
dim_appearance : 3

# The maximum age of an agent
age_max : 500

# The initial energy of an agent
energy_initial : 50
# The energy amount obtained by eating a food tile
energy_food : 10
# The energy threshold under which an agent dies
energy_thr_death : 0

# The energy required to be able to reproduce
energy_req_reprod : 80
# The energy cost of reproduction
energy_cost_reprod : 20




# ======================== Defaults sub-configs and other Hydra config ========================
defaults:
  - _self_
  - metrics : basic